extends ../layout
include component

block content
  h2 Components index
  p
    | To get your Crafty.js component listed here follow instructions at&nbsp;
    a(href='https://github.com/potomak/CraftyComponents#how-does-it-work') https://github.com/potomak/CraftyComponents#how-does-it-work
    | .
  - each component in components
    +component(component)