{% extends "::base.html.twig" %}

{% block content %}
<div class="content single-component-view">
	<div class="page-header">
		<div class="row">
		  <div class="span9">
		    <h1>{{ component.name }}  <small>by {{ component.author_name }}</small></h1>
		  </div>
		  <div class="span5 text-center">
		    <a href="{{ path('fwm_crafty_components_add_new') }}" class="btn large primary">Submit new component</a>
		  </div>
		</div>
	</div>
	<div class="row">
	  <div class="span16">

        {% include 'FWMCraftyComponentsBundle:Index:singleFullComponent.html.twig' with {'component': component} %}

	  </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script>
	$('.container .single-component-view .component-data ul.tabs li a').click(function(e){
		e.preventDefault();
		if(!$(this).parent().hasClass('active')) {
			$('.container .single-component-view .component-data ul.tabs li').removeClass('active');
			$(this).parent().addClass('active');
			var choosenTab = $(this).data('tab');
			$('.container .single-component-view .component-data .tabs-content').each(function(key, element){
				if($(element).hasClass(choosenTab)){
					$(element).show();
				} else {
					$(element).hide();
				}
			})
		}
	})
</script>
{% endblock %}
