<tr class="single_row">
	<td>
		<a href="{{ path('fwm_crafty_components_single', {'id' : component.id}) }}" class="name">{{ component.name }}</a>
	</td>
	<td class="description">{{ component.description }}</td>
	<td class="author">{{ component.authorName }}</td>
	<td class="release"> url to latest release</td>
</tr>