{% extends "::base.html.twig" %}

{% block title %}CraftyBoilerplate - CraftyComponents.com.{% endblock %}
{% block description %}<meta name="description" content="Create (faster and better) new game on top CraftyBoilerplate with Crafty, Backbone and Require">{% endblock %}

{% block content %}
<div class="content">
    <div class="hero-unit">
        <h1 class="title">Crafty DebugBar  <small>by Fly With Monkey</small></h1>
        <div class="desc">With Crafty DebugBar you can create your games faster.</div>
        <img alt="Crafty DebugBar preview" src="http://dl.dropbox.com/u/141331/debugbar.PNG" />
        <div class="options" style="margin-top:20px">
            <a href="http://craftycomponents.com/components/single/2/crafty-debug-bar" class="btn primary more">Get latest release now!</a>
        </div>
    </div>
    
    <div class="boilerplate">
        <h2>What You can do with Crafty DebugBar?</h2>
        <ul>
            <li>View human readable entities list</li>
            <li>Change attributes for choosen entity</li>
            <li>Manage entity (add/remove) components</li>
            <li>Easly print entity object in browser console</li>
            <li>Show/hide entity</li>
            <li>Make entity draggable, move entity and read new position atributes</li>
            <li>Show loaded assets</li>
        </ul>

        <h2>How You can use this?</h2>
        <pre class="code">
Crafty.modules({ 'crafty-debug-bar': 'release' }, function () {
    Crafty.debugBar.show();
});</pre>
        
        <h2>What will come?</h2>
        <ul>
            <li>entities selector (like in firebug)</li>
            <li>easy show entity hitboxes polygons</li>
            <li>performance grap (entities number, draw time)</li>
            <li>pause/play, frames forward</li>
            <li>current browser information, browser support</li>
            <li>loaded assets (images, sounds)</li>
            <li>sprites management</li>
        </ul>

    <h2>Complete the game!</h2>
    <div id="flexpi-box" class="hero-unit" style="width: auto">
        <img src="http://flexpi.com//bundles/fwmflexpipage/images/logo-flexpi.png" class="flexpi-logo">
        <h1 class="title"><small>by Fly With Monkey</small></h1>
        <div class="desc">HTML5 games developers needs tools! Use custom data logger, social networks integration, payments integration and give badges for games users.</div>
        <div class="homepage">
            <div class="homepage"><a title="Tools for html5 games developers" href="http://flexpi.com">Flexpi.com - tools for html5 games developers</a></div>
        </div>
        <div class="options">
            <a href="http://flexpi.com/register/" title="Tools for html5 games developers" class="btn primary more">Create an acount</a>
            <a href="http://flexpi.com/documentation/" title="Flexpi.com documentation" class="btn success">Documentation</a>
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}
