{% extends "::base.html.twig" %}

{% block title %}CraftyBoilerplate - CraftyComponents.com{% endblock %}
{% block description %}<meta name="description" content="Create (faster and better) new game on top CraftyBoilerplate with Crafty, Backbone and Require">{% endblock %}

{% block content %}
<div class="content">
  	<div class="hero-unit">
  	 	<h1 class="title">CraftyBoilerplate  <small>by Fly With Monkey</small></h1>
  	 	<div class="desc">Create (faster and better) new game on top CraftyBoilerplate. Boilerplate is not a framework, nor does it prescribe any philosophy of development, it's just got some tricks to get your project off the ground quickly and right-footed.</div>
		<div class="options" style="margin-top:20px">
			<a href="https://github.com/flywithmonkey/CraftyBoilerplate" class="btn primary more">See sample project on Github</a>
		</div>
  	</div>
  	<div class="boilerplate">
  		<h2>Overview</h2>
  		<p>What we will use in CraftyBoilerplate:
		<ul>
			<li>Crafty</li>
			<li>Modernizr</li>
			<li>Backbone</li>
			<li>Underscore</li>
			<li>RequireJquery</li>
		</ul>

		<p>To clean up the code and files, in this case we need to use backbone.js as wrapper for entities and require.js for loading files when requests.</p>

		<h2>Directories and default files</h2>
		<pre class="structure">
-- src
---- components -> Crafty components files
---- entities -> Files with entities
-------- base
------------ baseEntity.js -> Base entity
---- interfaces -> We keep here files with interface entities
---- levels -> Configuration files for levels
---- scenes -> Files with scenes declarations
---- windows -> Files with logic for interface windows
---- libs -> Other libraries files
-------- backbone
-------- jquery
-------- modernizr
-------- require-jquery
-------- underscore
---- config.js -> Game configuration
---- game.js -> Main file of the game
---- sprites.js -> Sprites definitions
-- web
---- images
-- index.html -> Game wrapper
</pre>
	</div>

	<h2>Entities Management</h2>

	<p>Create new CraftyBoilerplate entity:</p>
	<pre>sc['ufo'] = new Ufo();</pre>

	<p>Get orginal Crafty entity:</p>
	<pre>sc['ufo'].getEntity()</pre>

	<p>Add next entity:</p>
	<pre>sc['yourNewEntity'] = new NewEntity();</pre>

	<h2>Read more</h2>
	<ul>
		<li><a href="http://documentcloud.github.com/backbone/">Backbone</a></li>
		<li><a href="http://requirejs.org/">Require</a></li>
		<li><a href="https://github.com/ahilles107/CraftyBoilerplate">Sample project repository</a></li>
	</ul>

	<h2>Complete the game!</h2>
	<div id="flexpi-box" class="hero-unit" style="width: auto">
  		<img src="http://flexpi.com//bundles/fwmflexpipage/images/logo-flexpi.png" class="flexpi-logo">
  	 	<h1 class="title"><small>by Fly With Monkey</small></h1>
  	 	<div class="desc">HTML5 games developers needs tools! Use custom data logger, social networks integration, payments integration and give badges for games users.</div>
		<div class="homepage">
			<div class="homepage"><a title="Tools for html5 games developers" href="http://flexpi.com">Flexpi.com - tools for html5 games developers</a></div>
		</div>
		<div class="options">
			<a href="http://flexpi.com/register/" title="Tools for html5 games developers" class="btn primary more">Create an acount</a>
			<a href="http://flexpi.com/documentation/" title="Flexpi.com documentation" class="btn success">Documentation</a>
		</div>
  	</div>

</div>
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}
